
@{
     ViewData["Title"] = "About";
    <h3>Authentication</h3>
    <p>Authentication is the process of determining who you are. It is the act of verifying a person's identity.</p>
    <br />
    <h3>Authorization</h3>
    <p>Authorization is the act of determining what a person has access to. i.e. user's permissions.</p>
}

