
@{
    ViewData["Title"] = "Members Only";
}
<h2>@ViewBag.Title</h2>

<h6>Harshitha Chetty Ragava</h6>
<h6>Zaiba Ali</h6>
<h6>Vamshi Krishna Nuka</h6>

<p>You must be a member. Congratulations, @User.Identity.Name, on your membership!</p>

